<div class="s-group">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" />
    <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
    </div>
