.simple-content {
   margin: 0;
   color: #222;
}
.simple-content .form-group {
    margin-bottom: 20px;
}
.simple-content fieldset {
    text-align: left;
}
.simplecheckout-step-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.simplecheckout-right-column {
    background-color: #fff;
    width: 100%;
    max-width: 540px;
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 24px 40px;
    margin-left: 70px;
    box-shadow: 0px 4px 24px 0px rgba(0,21,75,.1098039216);
}
.simple-content fieldset h3 {
    margin: 0;
}
.simple-content .name {
    float: none !important;
}
.simple-content .button, #simplecheckout_login .button {
    margin: 0px !important;
}
.simple-content .buttons {
    margin: 0px 0px 15px 0px;
    border: none;
}
#simplecheckout_button_confirm span, #simpleregister_button_confirm span{
    color: #fff;
}
#simplecheckout_button_confirm{width: 100%}
.simple-content .form-control {
    width: 100%;
}
#simplecheckout_login .buttons {
    margin: 0;
    border: none;
    background: inherit !important;
    padding: 0px !important;
}
.simplecheckout {
    width:100%;
}
.simplecheckout:after {
    content:"";
    display:block;
    clear:both;
}
.simplecheckout-button-block:after {
    content:"";
    display:block;
    clear:both;
}
.simplecheckout-three-column {
    float:left;
    margin-right:2%;
    min-width: 200px;
    max-width: 500px;
    width:32%;
}
.simplecheckout-three-column + .simplecheckout-three-column + .simplecheckout-three-column {
    margin-right:0px;
    float: right;
}
/* @media only screen and (max-width:768px) {
    .simplecheckout-three-column {
        display:block;
        float: none;
        min-width: auto !important;
        max-width: 1900px !important;
        width: 100%;
    }
} */
/* .simplecheckout-left-column {
    float:left;
    margin-right:10px;
    min-width: 280px;
    max-width: 900px;
    width:45.5%;
} */
/* .simplecheckout-right-column {
    float:right;
    min-width: 280px;
    max-width: 900px;
    width:43.5%;
} */
@media only screen and (max-width:1024px) {
    .simplecheckout-left-column {
        display:block;
        float: none;
        min-width: auto !important;
        max-width: 1900px !important;
        width: 100% !important;
    }
    .simplecheckout-right-column {
        display:block;
        float: none;
        min-width: auto !important;
        max-width: 1900px !important;
        width: 100% !important;
    }
}
@media only screen and (max-width:1200px) {
    .simplecheckout label.col-sm-2 {
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media only screen and (max-width:768px) {
    .simplecheckout label.col-sm-2 {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.simplecheckout-block {
    clear: both;
    margin-bottom: 20px;
}
@media only screen and (min-width:1200px) {
    .simplecheckout-block-content>fieldset:nth-of-type(2),
    .simplecheckout-block-content>fieldset:nth-last-of-type(2) {
        width: 49%;
        margin-right: 1%;
        float: left;
        text-align: left;
    }
}
.simplecheckout-block-content:after {
    content:"";
    display:block;
    clear:both;
}
.simpleregister {
    margin-bottom: 5px;
}
.simpleregister-block-content {
    margin-bottom: 10px;
    padding: 10px;
}
@media only screen and (min-width:1200px) {
    .simpleregister-block-content>fieldset:nth-of-type(2),
    .simpleregister-block-content>fieldset:nth-last-of-type(2) {
        width: 49%;
        margin-right: 1%;
        float: left;
        text-align: left;
    }
}
.simpleregister-block-content:after {
    content:"";
    display:block;
    clear:both;
}
@media only screen and (max-width:600px) {
    .simpleregister-block-content .simplecheckout-customer {
        width: 100%;
    }
}
.simpleregister-button-block {
    overflow: auto;
    margin-bottom: 20px;
    padding: 6px;

    background: none repeat scroll 0 0 #FFFFFF;
    text-align:right;
}
.simpleregister-button-right {
    float: right;
    text-align: right;
}
.simpleregister-button-left {
    float: left;
    text-align: left;
}
.simplecheckout-methods-table {
    width: 100%;
}
.simplecheckout-methods-table td.code {
    width: 1px;
}
.simplecheckout-methods-table td.title {
    padding: 5px;
}
.simplecheckout-methods-table td.title label {
    display: block !important;
}
.simplecheckout-methods-table td.quote {
    width: 15%;
    text-align: right;
}
.simplecheckout-methods-description {
    padding: 5px;
    margin: 5px 0px;
}
.simplecheckout-required {
    color: #FF0000;
    font-weight: bold;
}
.simplecheckout-button-block {
    clear: both;
    margin-bottom: 20px;
    padding: 6px;
    /* background: none repeat scroll 0 0 #FFFFFF; */
    text-align:right;
}
.simplecheckout-button-right {
    float: right;
    text-align: right;
}
.simplecheckout-button-left {
    float: left;
    text-align: left;
}

.simplecheckout-button-left .button {
    margin: 0;
}
@media only screen and (max-width:780px) {
    .simplecheckout-button-left {
        display: none;
    }
}
.simplecheckout-login {
    display: inline-block;
}
.simplecheckout-login-left {
    width:50%;
    text-align: left;
}
.simplecheckout-login-right {
    width:50%;
    text-align:left;
}
.simplecheckout-login-right .button {
    float: left;
    margin: 0;
}
.simplecheckout-login-right input {
    max-width: 160px !important;
    text-align:left;
}
#simplecheckout_cart .form-control {
    display: inline-block !important;
    min-width: 50px;
}


.simplecheckout-cart-total:after {
    content:"";
    display:block;
    clear:both;
}
.simplecheckout-cart-total .buttons {
    background: inherit !important;
    padding: 0px !important;
}
.simplecheckout-cart-total input {
    margin-right: 0px !important;
    max-width: 100px;
}
.simplecheckout-cart-total span.inputs {
    margin: 0 3px 0 0 !important;
    display: inline-block !important;
}
.simplecheckout-cart-total span.inputs input[type=text]{
    margin: 0px;
}
.simplecheckout-cart-total-value {
    display: inline-block;
    margin: 0px 3px;
    min-width: 60px;
    float: right;
}
.simplecheckout-cart-total-remove {
    display: inline-block;
    width: 18px;
    text-align: center;
}
.simplecheckout-cart-total-remove img {
    vertical-align: -2px;
    cursor: pointer;
}

.simplecheckout-scroll{
    overflow-y:scroll;
    max-height:300px;
}
.simplecheckout-error-text {
    display: block;
    font-size: 14px;
    line-height: 1.5;
    color: red;
}
.simplecheckout-warning-text {
    margin: 5px 0;
    font-weight: bold;
}
.simplecheckout-warning-block {
    margin-bottom: 15px;
    padding: 10px 0px;
    text-align: left;
}
.simpleregister-warning-block {
    margin-bottom: 15px;
    padding: 10px 10px 10px 33px;
    border: 1px solid #F8ACAC;
    border-radius: 5px 5px 5px 5px;
    color: #555555;
    text-align: left;
}
.simplecheckout-proceed-payment {
    display: none;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
.simplecheckout-customer-same-address {
    text-align: left;
    margin: 15px 0px;
}
#simplecheckout_login {
    margin: auto;
    text-align: center;
}
#simplecheckout_payment_form {
    padding: 5px;
}
#simplecheckout_payment_form .checkout-content {
    display: block;
}
#simplecheckout_payment_form div.buttons {
    display: none;
}
#simplecheckout_login .simplecheckout-block-content {
    padding: 5px !important;
}
#simplecheckout_shipping_address{
    display: none;
}
#simplecheckout_shipping_address.not_empty{
    display: block;
}
#simple_login_layer {
    position:absolute;
    top:0;
    left:0;
    z-index:99990;
    display:none;
    width:100%;
    background-color:#000000;
}
#simple_login {
    position:fixed;
    z-index:99991;
    display: none;
    padding:5px;
    width:300px;
    height:250px;
    border:1px solid #FFD9FF;
    -webkit-border-radius:7px 7px 7px 7px;
    -moz-border-radius:7px 7px 7px 7px;
    border-radius:7px 7px 7px 7px;
    background:none repeat scroll 0 0 #FFFFFF;
    -khtml-border-radius:7px 7px 7px 7px;
}
#simple_login:after {
    content:"";
    display:block;
    clear:both;
}
#simple_login_header {
    padding: 0px 0px;
    text-align: right;
}
#simple_login_header img {
    margin: 0 0 0 auto;
}
.you-will-be-registered {
    font-weight: bold;
    margin-bottom: 10px;
}
.simplecheckout label, .simpleregister label {
    color: #5f5f5f;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1.5;
    padding: 0;
}
#simplecheckout_step_menu {
    margin-bottom: 20px;
}
.simple-step {
    display: inline-block;
    padding: 5px;
    color: #6d6d6d;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 5px;
}
.simplecheckout-summary-info {
    margin-top: 15px !important;
}
.simplecheckout-summary-info th.name {
    text-align: left;
}
.simplecheckout-summary-info td {
    text-align: left;
}
.simplecheckout-cart-buttons .buttons {
    border: none !important;
    padding: 0 !important;
}
#simple_login .simplecheckout-block-content {
    border: none !important;
}
#temp_flat_container {
    text-align: center;
    margin: 10px 0px 20px 0px;
}
#simplecheckout_comment .simplecheckout-block-content {
    border: 0 !important;
    padding: 0 !important;
}
.checkout-heading:after {
    content:"";
    display:block;
    clear:both;
}
.simple-content .checkout-heading {
    margin-bottom: 30px;
    color: var(--color-black);
    font-size: 23px;
    font-weight: 500;
    line-height: 27.24px;
    display: block;
    width: 100%;
}
.checkout-heading span {
    display: inline-block !important;
    float: left;
}
.checkout-heading-button {
    float: right !important;
    display: inline-block !important;
}
.simplecheckout-select-address {
    text-align: left;
    margin-bottom: 10px;
}
.simple-captcha-container {
    margin-top: 5px;
}
.simplecheckout-tooltip {
    display: none;
}
#easyTooltip {
    padding:5px;
    border:1px solid #ccc;
    background:#fde910;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0px 2px 2px #DDDDDD;
    -moz-box-shadow: 0px 2px 2px #DDDDDD;
    box-shadow: 0px 2px 2px #DDDDDD;
    opacity:1 !important;
}
#easyTooltip:before {
    content:'';
    position:absolute;
    left:10px;
    top:-8px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #fde910;
}
.simplecheckout-cart i {
    cursor: pointer;
}
.simple-content .table-responsive{
    margin-bottom: 0 !important;
    border: none !important;
}

#simplecheckout_form_0 #simplecheckout_cart #total_sub_total{
    margin-top: 5px;
}

@media only screen and (max-width:600px) {
    #total_shipping span:first-child {
        max-width: 300px;
        display: inline-block;
    }
}
@media only screen and (max-width:420px) {
    #total_shipping span:first-child {
        max-width: 200px;
        display: inline-block;
    }
}
.row-customer_register .radio {
    display: inline-block !important;
    margin-right: 10px;
}
.simplecheckout-vertical-menu .checkout-heading {
    cursor: pointer;
    margin-bottom: 3px;
}
.simplecheckout-steps-wrapper {
    padding: 10px;
}
#agreement_checkbox .checkbox {
    margin: 0;
}
.simplecheckout-summary-totals .simplecheckout-cart-total {
    border: 0;
}
div#content .simple_heading_title{
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 23px;
}
#simplecheckout_button_next {
    background-color: #000000;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500; 
    width: 229px;
    height: 45px;
   /* padding: 13px 20px; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    float: right;
}
#simplecheckout_button_next span{
    float:left;
    padding-right:8px;
    padding-top: 2px;
}
#total_sub_total{
/*    margin-bottom: 50px;*/
    border-color: #E8E8E8;
    text-align: right;
}
#total_total{text-align: right;}
#simplecheckout_summary #total_total{text-align: unset;}
.simple-content label span.required{
    color: red;
    margin-left: 5px;
}

#simplecheckout_form_0 .form-group input::placeholder{
    color: #757c83;
    font-size: 16px;
}

#simplecheckout_form_0 #simplecheckout_shipping_address .simplecheckout-block-content{
	padding: 0
}


#simplecheckout_form_0 .alert-danger{
    background-color: #fff;
    color: red;
    border: 0;
    font-size: 14px;
    margin-bottom: 5px;
}


#simplecheckout_form_0 #simplecheckout_shipping div.radio input{
    margin-top: 9px;
}

#simplecheckout_form_0 #simplecheckout_shipping .form-horizontal .form-group.has-error, #simplecheckout_form_0 #simplecheckout_customer .form-horizontal .form-group.has-error, #simplecheckout_form_0 #simplecheckout_payment .form-horizontal .form-group.has-error{
    margin-bottom: 30px!important;
}

#simplecheckout_form_0 .simplecheckout-cart-total-value{
    float: unset;
}

#simplecheckout_form_0 #simplecheckout_summary .simplecheckout-cart-total-value{
    float: right;
}



 #simplecheckout_summary .simplecheckout-cart-total-value{
    margin: 0;
}
#simplecheckout_form_0 #simplecheckout_button_next:hover{
    border-color: #148AE0;
}
.simplecheckout-cart-total{text-align: right; padding: 3px 7px;}
.tfoot.cart_bottom {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #9c9c9c;
    padding-top: 20px;
}
.main_btn, .cont_btn {
    border-radius: 8px;
    border: 1px solid #ff7a00;
    background: #ff7a00;
    font-weight: 500;
    color: #f3f4f4;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
    cursor: pointer;
    font-size: 16px;
    transition: all .3s ease;
}
.cont_btn {
    background: rgba(0,0,0,0);
    color: var(--color-orange);
    font-size: 16px;
    padding: 0 40px;
    text-decoration: none;
}
.cont_btn:hover {
    background: var(--color-orange);
    color: #f3f4f4;
    text-decoration: none;
}
.block__more, .comment_more span {
    color:  var(--color-orange);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transition: all .3s ease;
    position: relative;
    cursor: pointer;
}
.cart_top_right_block, .cart_bottom_bonuses {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3px;
    margin-bottom: 24px;
}
.cart_top_right_block div:not(.cart_dash), .cart_bottom_bonuses div:not(.cart_dash) {
    white-space: nowrap;
}
.cart_product_count {
    color: var(--color-black);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 22px;
    display: block;
}
.features_dash, .cart_dash {
    width: 100%;
    border-bottom: 1px dashed #ccc;
    position: relative;
    display: block;
    top: 10px;
}
.cart_total_price_container, .cart_bonuses_container {
    color: var(--color-orange);
    font-size: 40px;
    font-weight: 600;
    display: flex;
}
.cart_top_right_block .total_sum.nowrap {
    font-size: 18px;
}
.total_sum span {
    font-size: 32px;
}
.purchase {
    width: 100%;
    margin: 0;
}
.simplecheckout-left-column .fn_purchase, .purchase_top_grid {
    display: grid;
    grid-template-columns: 52% 21.5% 18% 8.5%;
}

.purchase_top_grid div {
    color: var(--color-black);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    padding: 12px 35px;
    text-align: left;
}
.purchase_top_grid div:first-child {
    padding: 12px 35px 12px 0;
}
.purchase_image a {
    text-decoration: none;
    text-align: left;
    gap: 16px;
}
.purchase_image a img {
    border-radius: 10px;
}
.purchase_image img {
    width: 120px;
    background-color: #fff;
    border-radius: 10px;
    display: block;
    border: 1px solid #dadada;
    height: 120px;
}
.purchase_name {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: var(--color-black);
    text-decoration: none;
}
.purchase_image .price_container {
    margin-top: 10px;
    align-items: flex-end;
}
.purchase .purchase_image, .purchase .purchase_amount, .purchase .purchase_sum, .purchase .purchase_remove {
    border-top: 1px solid #9c9c9c;
    padding: 20px 35px 20px 0;
    display: flex;
    align-items: center;
}
.purchase .purchase_remove {
    padding: 20px 0 20px 35px;
}
.purchase_remove a {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgba(0,0,0,0);
    color: var(--color-orange);
    transition: all .3s ease;
    text-decoration: none;
    cursor: pointer;
}
.purchase_sum .nowrap {
    font-size: 28px;
    line-height: 28px;
    color: var(--color-black);
    font-weight: 700;
}
.purchase_sum .nowrap .currency {
    font-size: 18px;
}
.purchase_amount .amount {
    width: 131px;
    line-height: 50px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e8e8e8;
    box-shadow: 0px 3px 10px 0px rgba(6,0,63,.0901960784);
    flex-shrink: 0;
}
.amount {
    display: inline-block;
}
.purchase_amount .input_amount {
    height: 50px;
    width: 38px;
}
.purchase_image .price {
    font-size: 28px;
    font-weight: 700;
}
.purchase_image .price .currency {
    font-size: 18px;
    font-weight: 700;
}
.simple_heading_clear_cart {
    color: var(--color-orange);
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    transition: all .3s ease;
    position: relative;
    cursor: pointer;
}
.simple_heading_clear_cart:hover {
    color: var(--color-black);
}
.simple-input{
    height: 50px;
    background: #f9f9f9;
    border: 1px solid #dcdcdc;
    color: #969696;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    border-radius: 8px;
    padding: 0 15px;
    width: 100%; 
}
.simple-textarea{
    display: block;
    width: 100%;
    padding: 15px;
    background: #f9f9f9;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #969696;
    height: 95px;
}
.simple-select{
    width: 100%;
    border: 1px solid var(--color-orange);
    border-radius: 8px;
    box-shadow: none;
    line-height: 50px;
    height: 50px;
    padding: 0 20px;
    font-size: 16px;
}
.simple-content .payment_block{
    margin-bottom: 30px !important;
    padding-top: 0;
    gap: 30px;
}
.simple-content .payment_item,
.simple-content .shipping_item{
    width: 100%;
}
.payment_radio, .shipping_radio{
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    display: none;
}
.simple-content .payment_item .radio_label,
.simple-content .shipping_item .radio_label{
    position: relative;
    display: block;
    padding: 0 0 0 38px;
    font-weight: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: var(--color-black);
    cursor: pointer;
}
.simple-content .payment_item .radio_label:before,
.simple-content .shipping_item .radio_label:before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0;
    width: 26px;
    height: 26px;
    border: 1px solid #ff7a00;
    border-radius: 50%;
    background: #fff;
}
.simple-content .payment_item .radio_label:after,
.simple-content .shipping_item .radio_label:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--color-orange);
    opacity: 0;
    transition: .2s;
}
.simple-content .payment_item.active .radio_label:after,
.simple-content .shipping_item.active .radio_label:after {
    opacity: 1;
    visibility: visible;
}
.simple-content .payment_item:has(.payment_radio:disabled) {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none; /* отключает клики по всему блоку */
}

.form-group.has-error .simple-input, .form-group.has-error .simple-select{
    border-color: red;
}
#agreement_checkbox a.agree{
    color: var(--color-orange);
    text-decoration: underline;
    font-weight: 600;
    
}
#agreement_checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 26px;
    height: 26px;
    margin: 0;
    cursor: pointer;
    z-index: 1;
}
#agreement_checkbox .checkbox {
    margin-bottom: 20px;
}
#agreement_checkbox label {
    position: relative;
    padding-left: 39px; 
    cursor: pointer;
    display: inline-block;
}
#agreement_checkbox label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 26px;
    height: 26px;
    border: 1px solid #9c9c9c;
    border-radius: 5px;
    background-color: #fff;
    transition: all .3s ease;
}

/* Состояние при отмеченном чекбоксе */
#agreement_checkbox input:checked + label::before {
    background-color: var(--color-orange);
    border-color: var(--color-orange);
}

/* Белая галочка */
#agreement_checkbox input:checked + label::after {
    content: url('/catalog/view/theme/fanes/image/accept_cart.svg');
    position: absolute;
    left: 4px;
    top: 7px;
    width: auto;
    height: 18px;
}

#agreement_checkbox a.agree {
    color: var(--color-orange);
    text-decoration: underline;
    font-weight: 600;
}
#agreement_warning{
    padding: 0 0 10px 0;
}
#simple_header2{
    color: #f2766b;
    font-size: 12px;
    width: 100%!important;
    height: unset!important;
    margin-bottom: 0!important;
}
#simple_header2 > div {padding-left: 0!important}








@media (min-width: 577px) {
    .simplecheckout-left-column .purchase_sum .price_container {
        display: none;
    }
}
@media (min-width: 769px) {
    .purchase_remove {
        font-size: 12px;
        position: relative;
    }
}
@media (min-width: 1071px){
    .tablet_amount {
        display: none;
    }
}





@media (max-width: 1560px){
    .simplecheckout-right-column {
        margin-left: 20px;
    }
}
/* @media (max-width: 1366px){
        .purchase_top_grid div {
        padding: 12px;
    }
    .purchase_top_grid div:first-child {
        padding: 12px 12px 12px 0;
    }
}     */
@media (max-width: 1200px) {
    .purchase_name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
}     
@media (max-width: 1070px){
    .simplecheckout-left-column .purchase_sum .nowrap {
        display: flex;
        width: 100%;
        gap: 8px;
    }
    .simplecheckout-left-column .purchase .purchase_amount {
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 20px 39px 10px;
    }
    .simplecheckout-left-column .purchase .purchase_remove {
        padding: 20px 0 10px 39px;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .name_price_container {
        justify-content: space-between;
    }
    .simplecheckout-left-column .purchase_image a {
        height: 100%;
    }
    .simplecheckout-left-column .purchase .purchase_image {
        padding: 20px 39px 20px 0;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .purchase_top_grid div:nth-last-child(2) {
        display: none;
    }
    .simplecheckout-left-column .fn_purchase {
        grid-template-columns: 61% 30% 9%;
        grid-template-rows: repeat(2, 1fr);
    }
    .simplecheckout-left-column .purchase .purchase_sum {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        border-top: none;
        padding: 10px 0 20px 39px;
        grid-column-end: 4;
    }
    .desktop_amount {
        display: none;
    }
    .purchase_top_grid div {
        padding: 12px 39px;
    }
    .purchase_top_grid div:first-child {
        padding: 12px 39px 12px 0;
    }
    .purchase_top_grid {
        grid-template-columns: 61% 30% 9%;
    }
    .simplecheckout-step-wrapper{
        flex-direction: column;
    }
    .simplecheckout-right-column {
        margin-left: 0;
    }
}
@media (max-width: 768px){
    .simplecheckout-left-column .purchase_sum .nowrap {
        font-size: 20px;
    }
    .purchase_image img {
        width: 80px;
        height: 80px;
    }
    .purchase_top_grid {
        display: none;
    }
    .simplecheckout-left-column .purchase_name {
        font-size: 14px;
    }
    .simplecheckout-left-column .purchase .purchase_image {
        padding: 20px 15px 20px 0;
    }
    .simplecheckout-left-column .purchase .purchase_amount {
        padding: 20px 15px 10px;
    }
    .simplecheckout-left-column .purchase .purchase_sum {
        padding: 10px 0 20px 15px;
    }
    .simplecheckout-left-column .purchase .purchase_remove {
        padding: 20px 0 10px 15px;
    }
}
@media (max-width: 576px){
    .simple-content .checkout-heading {
        font-size: 20px;
        line-height: 20px;
    }
    .purchase_sum .price_container {
        align-items: flex-end;
        width: 100%;
        border-bottom: 1px solid #dadada;
        padding-bottom: 4px;
        margin-bottom: 8px;
        font-size: 20px;
        color: #5f5f5f;
        font-weight: 700;
    }
    .mobile_hidden {
        display: none;
    }
    .simplecheckout-left-column .fn_purchase {
        grid-template-columns: 40% 48% 12%;
        position: relative;
    }
    .simplecheckout-left-column .purchase .purchase_image {
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 3;
        padding: 20px 8px 5px 0;
    }
    .simplecheckout-left-column .purchase .purchase_amount {
        grid-column-start: 1;
        grid-row-start: 2;
        border-top: none;
        padding: 5px 28px 10px 0;
        align-items: center;
    }
    .simplecheckout-left-column .purchase .purchase_sum {
        grid-column-start: 2;
        grid-column-end: 4;
        padding: 5px 0px 10px 28px;
        flex-direction: column;
        justify-content: center;
    }
    .simplecheckout-left-column .purchase .purchase_remove {
        grid-row-end: 2;
        padding: 20px 0 5px 8px;
    }
}
@media (max-width: 480px) {
    .total_sum span {
        font-size: 24px;
    }
    .cart_product_count {
        font-size: 16px;
        line-height: 14px;
    }
    .cart_bottom .block__more, .cart_bottom .cont_btn {
        font-size: 14px;
    }
    .tfoot .tablet_amount{
        text-decoration: underline;
    }
    .simplecheckout-right-column {
        margin-top: 40px;
        padding: 24px 15px;
    }
    .cont_btn {
        padding: 0 10px;
    }
    div#content .simple_heading_title{
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .simple-content {
        margin: 0;
    }
    
    #simplecheckout_form_0 #simplecheckout_cart #total_sub_total{
        font-size: 14px;
    }
    #simplecheckout_form_0 #simplecheckout_cart #total_sub_total .simplecheckout-cart-total-value{
        float: unset;
    }
    #simplecheckout_button_next {
        font-size: 12px;
        width: 100%;
        height: 38px;
    }
    .simplecheckout-button-right {
        float: unset;
    }
    #simplecheckout_button_next span{
        padding-right:5px;
    }
    
    #simplecheckout_form_0  .simplecheckout-block-content div.radio label input{
        margin-right: 4px;
    } 
    
    div#simplecheckout_shipping.simplecheckout-block .form-group label, div#simplecheckout_payment.simplecheckout-block .form-group label{
        font-size: 14px;
        color: #343434;
        line-height: 22px;
    }
    #simplecheckout_form_0 #simplecheckout_shipping .form-horizontal .form-group{
        width: 320px;
        height: 60px;
        margin-bottom: 8px;
    }
    #simplecheckout_form_0 #simplecheckout_shipping .form-horizontal .form-group input, #simplecheckout_form_0 #simplecheckout_payment .form-horizontal .form-group input{
        height: 38px!important;
    }
    #simplecheckout_form_0 #simplecheckout_shipping .simplecheckout-block-content{
        margin-bottom: 30px;
    }
   
    #simplecheckout_form_0 #simplecheckout_payment input[type="text"]::placeholder, #simplecheckout_form_0 #simplecheckout_shipping input[type="text"]::placeholder{
        font-size: 14px!important;
    }
    #simplecheckout_form_0 #simplecheckout_payment .form-horizontal .form-group.has-error {
        margin-bottom: 15px!important;
    }
    #simplecheckout_form_0 #simplecheckout_payment .form-horizontal .form-group{
        height: unset!important;
    }
    #simplecheckout_form_0 #simplecheckout_payment fieldset{
        margin-bottom: 0;
    }
}
@media(max-width: 400px){
    .total_sum span {
        font-size: 21px;
    }
    .cart_product_count {
        font-size: 15px;
    }
    .tfoot.cart_bottom {
        flex-direction: column;
        gap: 16px;
    }
}