# Конфигурационные файлы
config.php
admin/config.php
php.ini
robots.txt
/*.bak
.htaccess

import_ukrsklad.php
/ukrsklad_inc
/ukrsklad_upl

# Зображення
image/catalog/*
image/cache

system/storage/cache/*
!system/storage/cache/index.html

system/storage/logs/*
!system/storage/logs/index.html

system/storage/modification/*
!system/storage/modification/index.html

system/storage/session/*
!system/storage/session/index.html

system/storage/upload/*
!system/storage/upload/index.html

/storage/cache/*
!/storage/cache/index.html

/storage/logs/*
!/storage/logs/index.html

/storage/modification/*
!/storage/modification/index.html

/storage/session/*
!/storage/session/index.html

/storage/upload/*
!/storage/upload/index.html