.scroller {
border: 0px !important;
}

.scroller div.product-thumb {
margin-bottom:0px;
}
.scroller div.owl-pagination {
display: none;
}

.scroller .product-thumb .caption {
min-height: 85px;
}

html,body {
    height:100% !important;
}